<div class="container">
    <div class="img-container">
        <div class="img-item">
            <a href="#" class="poster">
                <img class="poster-img" src="https://s-media-cache-ak0.pinimg.com/736x/da/25/f3/da25f3a7c671c6a76f603f3175b912e2--music-festival-posters-concert-posters.jpg">
            </a>
            <a href="#" class="poster">
                <img class="poster-img" src="https://cdn.pastemagazine.com/www/system/images/photo_albums/every-2017-festival-poster-so-far-/large/event-poster-7106399.jpg?1384968217">
            </a>
            <a href="#" class="poster">
                <img class="poster-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDVBSdX-8ipX1dGYB3vPHYuCRctu5i0G8Kn1Y2aT2vloK65D7B">
            </a>
        </div>
        
        <div class="img-item">
            <a href="#" class="poster">
                <img class="poster-img" src="https://s-media-cache-ak0.pinimg.com/736x/91/99/df/9199dfbe25458d691976ba439491cf97--grid-design-design-art.jpg">
            </a>
            <a href="#" class="poster">
                <img class="poster-img" src="https://s-media-cache-ak0.pinimg.com/736x/a0/90/91/a09091e175b82c1cd70ed43002cfd44f--music-festival-poster-design-music-festival-branding.jpg">
            </a>
            <a href="#" class="poster">
                <img class="poster-img" src="https://www.sistersfolkfestival.org/wp-content/uploads/2016/04/SFF-Poster2016FINALwebsmall-696x1024.jpg">
            </a>
        </div>
        
        <div class="img-item">
            <a href="#" class="poster">
                <img class="poster-img" src="http://media.istockphoto.com/vectors/craft-beer-festival-poster-design-template-vector-id638492456">
            </a>
            <a href="#" class="poster">
                <img class="poster-img" src="https://02f0a56ef46d93f03c90-22ac5f107621879d5667e0d7ed595bdb.ssl.cf2.rackcdn.com/sites/202/photos/8476/AVO201220120906-4089-kwql52-0_960x.jpg">
            </a>
            <a href="#" class="poster">
                <img class="poster-img" src="https://s-media-cache-ak0.pinimg.com/736x/f6/d6/e9/f6d6e9510ac02028ce149eb3d55ab947--music-festivals-poster-music-festival-poster-design.jpg">
            </a>
        </div>
    </div>
    
    <div class="center">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
</div>